<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Document metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title of the page -->
    <title>ERROR</title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
    <!-- Navbar -->
    <nav class="navbar-expand-lg navbar-dark" style="background-color: #523f78d9; height: 50px; font-size: 20px;">
        <div class="collapse navbar-collapse font-weight-light" id="navbarNavAltMarkup">
            <div class="navbar-nav" >
                <a class="nav-item active nav-link " href="/">Home <span class="sr-only"></span></a>
                <a class="nav-item  active nav-link" href="https://github.com/TomBennett2202/Mandriva">About</a>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <!-- Adjusted the font size to 'display-4' class -->
                        <h3 class="text-danger display-4">Error</h3>
                    </div>
                    <div class="card-body">
                        <!-- Adjusted the font size to 'lead' class -->
                        <p class="lead">{{ error_message }}</p>
                        <p><a href="{{ url_for('snp') }}" class="btn btn-dark btn-lg">Go back to the SNP page</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>